<a href="https://colab.research.google.com/github/laisOmena/Machine-Learning/blob/master/Introdu%C3%A7%C3%A3o_a_Machine_Learning_e_Classifica%C3%A7%C3%A3o_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
data = pd.read_csv(uri)
data.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [2]:
x = data[["home", "how_it_works", "contact"]]
x.head()

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0

In [3]:
y = data["bought"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [4]:
data.shape

(99, 4)

In [0]:
train_x = x[:75]
train_y = y[:75]
test_x = x[75:]
test_y = y[75:]

In [6]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(train_x, train_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [7]:
from sklearn.model_selection import train_test_split

SEED = 20

train_x, test_x,train_y, test_y = train_test_split(x, y, random_state = SEED, stratify = y, test_size = 0.25)
print("treinamento com %d elementos e testaremos com %d elementos" %(len(train_x), len(test_x)))

treinamento com 74 elementos e testaremos com 25 elementos

In [8]:
predictions = model.predict(test_x)

hit_rate = accuracy_score(test_y, predictions) * 100
print("Taxa de acertos %.2f%%" %(hit_rate))

Taxa de acertos 96.00%

In [9]:
train_y.value_counts()

0    49
1    25
Name: bought, dtype: int64

In [10]:
test_y.value_counts()

0    17
1     8
Name: bought, dtype: int64